#Debug
snippet vard "var_dump"
var_dump(\$${1:${VISUAL}});$0
endsnippet

snippet vardie "var_dump + die"
var_dump(\$${1:${VISUAL}});die('Die!!! Asshole!');$0
endsnippet

snippet pr "print_r"
var_dump(\$${1:${VISUAL}});die('Die!!! Asshole!');$0
endsnippet

snippet prdie "print_r + die"
var_dump(\$${1:${VISUAL}});$0
endsnippet

